<div>
    <div class="modal-header">
        <h3 class="modal-title">About (BETA VERSION)</h3>
    </div>
    <div class="modal-body">
        <p>Vintage Radio lets you listen and scan through the ether of Internet for Radio Channels.</p>
        <h3>Discover</h3>
        <p>As a Radio Listener you discover a new Radio Channel with only the click of a button. Imagine that you
           are sitting in front of your old radio and scanning through the air for a new station. Not knowing what
           you want but you know when you have found what you want. Listen to the station for as long as you like and
           when you want something else you just scan for another station.</p>
        <p><b>This is how we want you to discover internet based radio stations!</b></p>
        <h3>Share</h3>
        <p>Once you have found a Radio Channel that you really like you can share it among your friends. Giving they
        a starting point in the ether of internet.</p>
        <p>You can share it on Facebook, Twitter and Instagram.</p>
        <h3>Publish</h3>
        <p>Be part of this ether as a Radio DeeJay and publish your Radio Channels here. You can publish as much as five (5)
        Radio Channels completely for free. The only thing you need to do is to sign up and get a Radio DeeJay account and
        then register your audio stream together with a poster image and a title of your Radio Channel.</p>
        <p>Planned feature is for you to be able to add a link to your music blog or podcast feed and
        we will create the radio stream for you (payment will be required).</p>
        <p>But for now make sure you register your Radio Channel to be discovered!</p>
        <div class="legal">
            <p></p><b>Terms and Conditions</b></p>
            <p>Write legal stuff here...</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">I got it!</button>
    </div>
</div>