<div class="container-fluid">
    <div class="navbar" ng-controller="NavbarCtrl">
        <button type="button" class="btn btn-default btn-sm" ng-click="navHome()">Home</button>
        <button type="button" class="btn btn-default btn-sm disabled">Schedules</button>
        <button type="button" class="btn btn-default btn-sm disabled">Account</button>
    </div>
    <div>
        <h1 class="text-center">Radio Channels</h1>

        <table class="table table-hover">
            <tr>
                <th>Channel Name</th>
                <th>Stream URL</th>
                <th>Poster Image</th>
                <th></th>
            </tr>
            <tr ng-repeat="channel in channels">
                <td><a href="#"
                       editable-text="channel.title"
                       e-required e-placeholder="Name of your channel"
                       onaftersave="updatechannel(channel)">{{channel.title || "empty" }}</a></td>
                <td><a href="#"
                       editable-url="channel.stream"
                       e-placeholder="URL to your stream"
                       onaftersave="updatechannel(channel)">{{channel.stream || "empty" }}</a></td>
                <td><img class="poster-preview-thumb" ng-src="{{channel.image}}"></td>
                <td>
                    <button type="button"
                            ng-class="{true: 'btn btn-default', false: 'btn btn-default disabled'}[channel.stream.length > 0]"
                            class="btn btn-default"
                            ng-click="playchannel(channel.id)">Play</button>
                    <button type="button"
                            ng-class="{true: 'btn btn-danger', false: 'btn btn-default disabled'}[channel.id > 0]"
                            class="btn btn-danger"
                            ng-click="deletechannel($index, channel.id)">Delete</button>
                </td>
            </tr>
        </table>

        <div>
            <button type="button" class="btn btn-primary" ng-click="newchannel()">New Channel</button>
        </div>
    </div>
</div>