<div class="container-fluid">
    <div class="text-center">
        <h1>Hey Radio Deejay!</h1>
        <p>What do you want to do today?</p>
        <p>I want to manage my...</p>
    </div>
    <div class="text-center" ng-controller="NavbarCtrl">
        <button ng-click="navChannels()" class="btn btn-lg btn-primary">Channels</button>
        <button class="btn btn-lg btn-primary disabled">Schedules</button>
        <button class="btn btn-lg btn-default disabled">Account</button>
    </div>
</div>