<div class="container-fluid">
    <div>
        <h1 class="text-center">Create a new radio channel</h1>
        <form ng-submit="submit()" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputChannelName" class="col-sm-2 control-label">Channel Name</label>
                <div class="col-sm-10">
                    <input ng-model="title" type="text" class="form-control" placeholder="Name of your channel">
                </div>
            </div>

            <div class="form-group">
                <label for="inputStreamURL" class="col-sm-2 control-label">Stream URL</label>
                <div class="col-sm-10">
                    <input ng-model="stream" type="url" class="form-control" placeholder="e.g. http://aws01.mxt.se:8000/creativeradio?type=.mp3">
                </div>
            </div>

            <div class="form-group">
                <label for="inputImageURL" class="col-sm-2 control-label">Poster Image URL</label>
                <div class="col-sm-10">
                    <input ng-model="image" type="url" class="form-control" placeholder="e.g. http://http://upload.wikimedia.org/wikipedia/commons/0/02/NX1Z_Radio.jpg">
                </div>
            </div>

<!--
            <div flow-init="{target: '/imagestore'}"
                 flow-files-submitted="$flow.upload()"
                 class="form-group">
                <label for="inputPoster" class="col-sm-2 control-label">Poster Image</label>
                <div class="thumbnail col-sm-2" ng-hide="$flow.files.length">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                </div>
                <div class="thumbnail col-sm-2" ng-show="$flow.files.length">
                    <img flow-img="$flow.files[0]" />
                </div>
                <div>
                    <span ng-hide="$flow.files.length" flow-attrs="{accept:'image/*'}" class="btn btn-default btn-sm" flow-btn>Select image</span>
                    <span ng-show="$flow.files.length" flow-attrs="{accept:'image/*'}" class="btn btn-default btn-sm" flow-btn>Change</span>
                    <span class="label label-info">Size: {{$flow.getSize()}}</span>
                    <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
                    <span class="label label-info">Filename: {{$flow.files[0].name}}</span>
                </div>
            </div>
-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>

        </form>
    </div>
</div>