<div ng-controller="ChannelCtrl" id="main-container" class="fullscreen-container"
     style="background-image:url('{{channel.image}}')">
    <div class="overlay"></div>

    <div class="row" ng-controller="NavbarCtrl">
        <div id="about-container text-center" class="col-md-2 about-container">
            <a class="btn-about" ng-click="navAbout()"><small>About</small></a>
        </div>
        <div id="login-container" class="col-md-2 col-md-offset-8 login-container">
            <div class="row">
                <div class="col-md-12 text-center">Radio DeeJay</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left text-nowrap"><a class="btn-login" ng-click="navManager()"><small>Login</small></a></div>
                <div class="col-md-6 text-right text-nowrap"><a class="btn-signup" ng-click="navSignup()"><small>Sign up</small></a></div>
            </div>
        </div>
    </div>

    <div class="center-back-outer position-zindex" ng-controller="PlayerCtrl">
        <span class="center-back-inner">
            <div class="text-center text-uppercase channel-title">
                <h1>{{channel ? channel.title : 'Seeking'}}</h1>
            </div>

            <div ng-if="channel" id="audioplayer">
                <audio media-player="radioplayer1" data-playlist="playlist1">
                    <source/>
                </audio>
                <a ng-click="radioplayer1.playPause()"><img class="btn-onoff" ng-src="{{radioplayer1.playing ? '/icons/button-on.png' : '/icons/button-off.png'}}"/></a>
                <a ng-click="seekfwd()"><img class="btn-scan" ng-src="/icons/button-seek-fwd.png"/></a>
            </div>
            <div ng-if="!channel">
                <p class="text-warning">Scanning the ether(net) for a new channel</p>
            </div>
            <div class="share-container" ng-controller="ShareCtrl">
                <p class="text-center">Share this channel!</p>
                <a class="btn-share" ng-click="fbshare(channel.id)"><img src="/icons/sharefb.png"/></a>
            </div>
        </span>
    </div>
    <div id="listeners"></div>
</div>