<div ng-controller="ChannelCtrl" id="main-container" class="fullscreen-container"
     style="background-image:url('{{channel.image}}')">
    <div class="overlay"></div>

    <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-default btn-sm" ng-click="navManager()">I am a Radio DeeJay</button>
    </div>

    <div class="center-back-outer position-zindex" ng-controller="PlayerCtrl">
        <span class="center-back-inner">
            <div class="text-center text-uppercase channel-title">
                <h1>{{channel ? channel.title : 'Seeking'}}</h1>
            </div>

            <div ng-if="channel" id="audioplayer">
                <audio media-player="radioplayer1" data-playlist="playlist1">
                    <source/>
                </audio>
                <a ng-click="radioplayer1.playPause()"><img class="btn-onoff" ng-src="{{radioplayer1.playing ? '/icons/button-on.png' : '/icons/button-off.png'}}"/></a>
                <a ng-click="seekfwd()"><img class="btn-scan" ng-src="/icons/button-seek-fwd.png"/></a>
            </div>
            <div ng-if="!channel">
                <p class="text-warning">Scanning the ether(net) for a new channel</p>
            </div>
        </span>
    </div>
    <div id="listeners"></div>
</div>