.block {
    border: 1px solid;
    margin: 2px 2px 2px 2px;
}

.block-live {
    background-color: #aaaaaa;
}

.block-music {
    background-color: yellow;
}

.block-start {
    background-color: red;
}

.block-end {
    background-color: red;
}

.block-fill {
    background-color: white;
}

table {
    width: 100%;
}

td.blocktype {
    text-transform: uppercase;
    width: 20%;
    margin: 5px 5px 5px 5px;
}

td.blockdesc {
    margin: 5px 5px 5px 5px;
}

td.blocktime {
    width: 20%;
    margin: 5px 5px 5px 5px;
}
