.schedule-row {
    margin: 3px 3px 3px 3px;
}

.block-live {
    background-color: #428bca;
    color: #fff;
}

.block-music {
    background-color: #5bc0de;
    cursor: n-resize;
}

.block-fill {
    background-color: #f0ad4e;
}

.block-start, .block-end {
    background-color: #d9534f;
    color: #fff;
}

.active-true {
    background-color: #5cb85c;
    color: #fff;
    font-size: large;
    border: 2px 2px 2px 2px solid;
}

.active-false {
}

